.reviews{
    display: grid;
    gap: 15px;
    row-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2%;
    padding: 25px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.reviews>div{
    /* box-shadow: 0 0 4px black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* border-radius: 8px; */
    padding: 15px;
    
}



.logoImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logoContainer{
    display: flex;
    gap: 3%;
    align-items: center;
}

.logoContainer>div >h3{
    margin: 0;
}

.verified{
    background-color: green;
    color: white;
    padding: 5%;
    width: fit-content;
    margin-top: 0;
}


.reviewsTitle{
    text-align: center;
    margin-top: 2.5%;
    font-size: 2.5rem;
    margin-bottom: 0;
    color: rgb(51, 51, 51);
}

.reviewSubHeading{
    margin-top: 0;
}

.mainReview{
    
    padding: 15px;
    margin-top: 2%;
}


@media screen and (max-width:1220px) {
    .reviews{
        grid-template-columns: repeat(2,1fr);
    }
}



@media screen and (max-width:720px) {
    .reviews{
        grid-template-columns: repeat(1,1fr);
    }
}